.background{
    background-image: linear-gradient(aqua 10%, rgb(56, 62, 88) 90%);
}

header{
    

}

nav{
    display: flex;
    justify-content: left;
    margin-top: 5%;
    font-size: 15px;
    margin:auto;
  }

.h1{
    font-size: 350%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-shadow: 2px 2px 5px black;
    text-decoration: solid black;
}

.h2{
    width: 10vw;
    height: 10vh;
    font-size: 150%;
    background-color: rgb(253, 253, 253);
    box-shadow: 5px 5px 20px black;
    display: flex;
    align-items: center;
    justify-content: end;
    

}

main {
    display: flex;
    align-items: flex start;
    flex-direction: row;
    justify-content: left;
}

.Photo{
   border-radius: 10px;
   box-shadow: 7px 7px 5px black;
   outline: solid black;

}
.box{
    width: 50vw;
    height: 40vh;
    background-color: rgb(105, 228, 228);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: black;
    text-align: left;
    margin: 10px 100px;
    box-shadow: 2px 2px 5px black;
    
    
}



.column {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.row{
    display: flex;
    align-items: center;

}

section {
display: flex;
order: 1;
margin: 10px 50px;
    
}

div {
    display: 
    width: 100px;
}
  
 
  .card{
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;

  }

  .footer {
    background-color: gray;

}

button {
    width: 190px;
    margin: 20 5 20 20;
    font-size: 200%;
    color: #13293d;
    background-color: #fff;
    border: 2px solid #13293d;
    border-radius: 8px;
    box-shadow: 5px 5px 5px black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items:flex-start;
    justify-content: center;
    
  }
  
  /* The user's cursor is positioned over the element */
  button:hover {
    background-color: #fff;
    color:#41f2ae;
  }
  
  /* The user is actively pressing down on the element */
  button:active {
    font-size: 180%;
    box-shadow: 2 2 10px rgb(1, 169, 248) inset;
    background-color: aquamarine;
  }
  
  /* The element is currently in focus, either by tabbing to or clicking on it */
  button:focus {
    outline: rgb(81, 0, 255);
    color:rgb(81, 0, 255)
    border: 2px solid coral
  }

  
  
@media only screen and (min-width: 768px) {
    /* tablets and desktop */
    header {
        flex-direction: column;
      }
    
      main {
        max-width: 1200px;
        flex-direction: column
      }
}

@media only screen and (max-width: 1px) {


    /* phones */
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */
}